
form{
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

input{
    border: none;
    padding-left: 10px;
    font-family: sans-serif;
    border-radius: 10px;
    font-weight: bold;
}

.login{
    border: none;
    padding: 5px 10px;
    margin-right: -50%;
    position: relative;
    margin-top: 10px;
    top: 50%;
    left: 40%;
    border-radius: 10px;
    font-weight: bold;
}
footer{
    margin-top: 200px;
}